
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">

    <header>
      <nav class="navigation">
      <ol [class]="doundo">
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">CONTACTUS</a></li>
        <li ><a href="">MENU</a></li>
      
      </ol>
    
      <div class="hamb" (click)="hideandsick()">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
      </div>
      </nav>
      
      
      <form class="sili">
      <input class="ls" type="submit" value="Login" >
      <input class="ls" type="submit" value="Sign up" >
      </form>
      
    </header>
    
    
    
    <section class="sec1">
    
      <article class="article1">
          <h1>CasinO</h1>
        
        <form>
        <input class="input" id="input1" type="location" placeholder="choose your location">
        <input class="input" id="input2" type="search" placeholder="search restaurant or dishs....">
        <input class="search" type="submit" value="search" placeholder="search">
        </form>
        
      </article>
      
    </section>
    
      
    <section class="sec2">
        <h1>Choose a solution for your 
        <span class="HuNgRy">HuNgRy</span></h1>
    </section>
    
    
    
    
    <section class="menu">
    
      <article class="art-img"><img src="assets/biryani.jpg"></article>
    
      
      <article class="art-content">
        <h1> BIRYANI </h1>
        <p>Life is better with a plate of veg biryani.
          All you need is love... and veg biryani.
          Biryani is my love language.
          Biryani: A little bit of spice, a whole lot of flavor.</p>
        <button><a href="">View More</a></button>
      </article>
    
    </section>
    
    
    
    <section  class="menu" id="reverse">
    
      <article class="art-content">
        <h1> CHINESE </h1>
        <p>Savoring every bite of this flavorful Chinese feast.
          The aroma of Chinese spices is simply irresistible!
          Craving satisfied with this mouthwatering Chinese delicacy.
          Happiness is a plate of hot Chinese food.</p>
        <button><a href="">View More</a></button>
      </article>
      
      <article class="art-img"><img src="assets/noodles2.jpg"></article>
      
    </section>
    
    <section  class="menu">
    
      <article class="art-img"><img src="assets/coffe3.jpg"></article>
      
      <article class="art-content">
        <h1> HOT DRINKS </h1>
        <p>It's not just a beverage; it's a companion that accompanies us through life's highs and lows. Coffee lovers understand that it's
           more than just a cup of joe; it's a source of comfort, inspiration, and connection.</p>
        <button><a href="">View More</a></button>
      </article>
    
    </section>
    
    <section  class="menu" id="reverse">
    
      
      <article class="art-content">
      
        <h1> SOFT DRINKS </h1>
        <p>Sip, sip, hooray!
          Cold drinks are my summer anthem.
          Quenching my thirst, one sip at a time.
          Drinks so cold, they'll give you brain freeze.
          Refreshing sips and sunny skies.</p>
        <button><a href="">View More</a></button>
        </article>
        
      <article class="art-img"><img src="assets/cooldrinks.webp"></article>
    
    </section>
    
    <section  class="menu">
    
      <article class="art-img"><img src="assets/bakery2.webp"></article>
      
      <article class="art-content">
        <h1> BAKERY </h1>
        <p>“Bake the world a better place – one cake at a time.”
          “Stressed, blessed, and dessert obsessed.”
          “Muffin compares to the joy of baking.”
          “Flour power, activate!”
          “I knead therapy, but I'll settle for cookies.”</p>
        <button><a href="">View More</a></button>
      </article>
    
    </section>
    
      
    <section  class="menu" id="reverse">
    
      
      <article class="art-content">
        <h1> BURGER </h1>
        <p>“Life is too short to miss out on beautiful burgers.”.
          “Burgers: the universal language of love.” .
          “A burger without cheese is like a hug without a squeeze.”</p>
        <button><a href="">View More</a></button>
      </article>
      
      
      <article class="art-img"><img src="assets/burger4.jpg"></article>
    
    </section>
    
    
    
    <section  class="menu">
    
      <article class="art-img"><img src="assets/pizza1.jpg"></article>
    
      
      <article class="art-content">
        <h1> PIZZA </h1>
        <p>In crust, we trust.
          Love is all you knead.
          The only circle of trust you should have.
          Life is a combination of magic and pizza.
          Slice by slice, we conquer the world.
          You can't make everyone happy. ...
        </p>
        <button><a href="">View More</a></button>
      </article>
      
    
    </section>
    
    
    
    
      
    <section class="sec3">
    <article>
      <h5>COMPANY</h5>
      <ol>
        <li><a href="">About us</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">CasinO Blog</a></li>
        <li><a href="">Bug Bounty</a></li>
        <li><a href="">CasinO One</a></li>
        <li><a href="">CasinO Corporate</a></li>
        <li><a href="">CasinO Instamart</a></li>
        <li><a href="">CasinO Genie</a> </li>
      </ol>
    </article>
    
    <article>  
      <h5>LEGAL</h5>	
      <ol>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Refund & Cancellation</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Cookie Policy</a></li>
        <li><a href="">Offer Terms</a></li>
        <li><a href="">Phishing & Fraud</a></li>
        <li><a href="">Corporate – CasinO </a></li>
        <li><a href="">Corporate – CasinO </a></li>
        <li><a href="">Corporate - CasinO </a></li>
      </ol>
  </article>

    </section>
    
    
    <footer>
      <p>
    By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2023 &copy CasinO <sup> &reg </sup> Ltd. All rights reserved.</p>
      </footer>
    </div>


</body>


</html>
